{% extends "layout.html" %}
{% block content %}
<form method="POST" action="" class="container col-lg-7 col-sm-12">
    {{ form.csrf_token }}
    <fieldset class="rounded-3 bg-light p-5">
        <legend>Login</legend>
        <a href="{{url_for('register')}}"><h5>No account yet?</h5></a>
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div style="position:relative; left:42%">
                {{ form.submit(class="btn btn-primary btn-lg")}}
            </div>
{% endblock content %}
